.pageWrapper {
  padding-top: 100px;
  background-color: #fafafa;
  min-height: calc(100vh - 100px);
}

.tableWrapper {
  width: 80%;
  margin: 30px 10%;
}

.buttonsContainer {
  display: flex;
  justify-content: center;
}

.toDashboardButtonContainer {
  padding-left: 30px;
}