.checkIn {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}

.checkin a {
  cursor: pointer;
}

.checkin a:hover {
  color: lightblue;
}

.checkin .bottom-box {
  text-align: center;
  width: 100%;
  height: 80px;
}

.checkin p {
  font-size: 15px;
}