.pageWrapper {
  background-color: #fff;
  min-height: 140px;
  border: 2px rgba(0, 0, 0, 0.5) dashed;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pageWrapper:hover {
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2), 0 2px 8px 0 rgba(0, 0, 0, 0.19);
}

.container:hover {
  cursor: pointer;
}

.plus {
  font-size: 60px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  width: 300px;
  /* background-color: yellow; */
  /* margin-top: 10px; */
}

.buttons {
  width: 200px;
  display: flex;
  justify-content: space-between;
}

input {
  width: 80%;
}