.pageWrapper {
  width: 100vw;
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  border-bottom: 0.5px rgba(0, 0, 0, 0.5) solid;
  background-color: rgba(255, 255, 255, 0.95);
  z-index: 1;
}

.rightContainer{
  margin-left: auto;
  margin-right: 20px;
}

.leftContainer {
 margin-left: 20px;
}

