.tableWrapper {
    width: 100%;
    min-width: 500px;
    min-height: 400px;
    /* background-color: lightblue; */
    border-radius: 5px;
    border: solid 1px #999;
}

table{
    width: 100%;
    height: 100%;
    border-collapse: collapse;
}

tr {
    width: 100%;
    height: 50px;
    border-bottom: solid 1px #999;
}

th {
    border: solid 1px #999;
}

td {
    /* padding-left: 10px; */
    text-align: center;
    /* border: solid 1px #999; */
}

.colOne {
    width: 40%;
}

.colTwo {
    width: 8%;
}

.colThree {
    width: 7%;
}

.colFour {
    width: 35%;
}

.colFive {
    width: 10%;
}