.container {
  background-color: #fff;
  min-height: 120px;
  border: 2px rgba(0, 0, 0, 0.5) dashed;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container:hover {
  cursor: pointer;
}

.plus {
  font-size: 60px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  width: 300px;
  /* background-color: yellow; */
  /* margin-top: 10px; */
}

.buttons {
  width: 200px;
  display: flex;
  justify-content: space-between;
}