.pageWrapper {
  background-color: #fff;
  border: solid 0.5px #999;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px 20px 20px;
}

.pageWrapper:hover{
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2), 0 2px 8px 0 rgba(0, 0, 0, 0.19);
}

.info {
  max-width: calc(100% - 100px);
  height: 100px;
}

.infoTitle {
  font-size: 12px;
  height: 20px;
}

.infoQuizName {
  font-size: 18px;
  height: 60px;
  padding: 5px 0 5px 10px;
}

.infoDateTime {
  font-size: 10px;
  height: 10px;
}

.buttons {
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}